.c_home-container
{
    width: 100%;


    height: auto;
    min-height: 500px;


    display: flex;
    flex-direction: row;

}

.c_home-contentContainer
{
    padding: 10px;
    width: 80%;

    height: auto;

    /* border: solid green 2px; */
    display: flex;
    justify-content: center;
}